<div style="display: flex">
  <mat-card style="width: 90%">
    <mat-card-title> Ajouter une rencontre</mat-card-title>
    <mat-card-content>
      <div style="display: flex">
      <mat-card>
        <mat-card-title> Personne(s) </mat-card-title>
        <mat-card-content>
            <div *ngFor="let idPersonne of this.rencontre.idPersonnes; let index = index;">
          <mat-form-field appearance="fill">
           <mat-label> Personne(s)</mat-label>
            <mat-select required  [(ngModel)]="this.rencontre.idPersonnes[index]">
              <mat-option *ngFor="let personne of personnes" value="{{personne.id}}">{{personne.prenom}} {{personne.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="ajouterNombrePersonne()"> +1 Personne </button>
            <button mat-raised-button color="warn" [disabled]="this.rencontre.idPersonnes.length == 1" (click)="retirerNombrePersonne()"> -1 Personne </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title> Généralités </mat-card-title>
        <mat-card-content>
              <mat-form-field appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ville</mat-label>
            <input matInput required [(ngModel)]="rencontre.ville">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Lieu</mat-label>
            <mat-select required  [(ngModel)]="rencontre.idLieu">
            <mat-option *ngFor="let lieu of lieux" value="{{lieu.id}}">{{lieu.libelle}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Type de rencontre</mat-label>
            <mat-select required  [(ngModel)]="rencontre.idTypeRencontre">
            <mat-option *ngFor="let typeRencontre of typesRencontre" value="{{typeRencontre.id}}">{{typeRencontre.libelle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      </div>
      <mat-card class="wide">
        <mat-card-title> Particularités </mat-card-title>
        <mat-card-content>
          <div style="display: flex">
            <p style="align-self: center; margin-bottom: 0">Note : </p>
            <span style="width: 15px"> </span>
            <mat-slider [min]="0" [max]="10" [step]="0.5" [thumbLabel]="true" [(ngModel)]="rencontre.note"></mat-slider>
          </div>
          <mat-form-field id="description" appearance="fill">
            <mat-label>Commentaire</mat-label>
            <textarea matInput required [(ngModel)]="rencontre.commentaire"> </textarea>
          </mat-form-field>
          <!--
          <mat-form-field appearance="fill">
            <mat-label>Pratiques</mat-label>
            <mat-chip-list required  [(ngModel)]="rencontre.idPratiques">
              <mat-chip *ngFor="let pratique of pratiquesSelectionnees" (removed)="removePratique(pratique)">
                {{pratique.libelle}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Nouvelle pratique" #nouvellePratiqueInput [matAutocomplete]="auto" >
            </mat-chip-list>
            <mat-autocomplete (optionSelected)="selected($event)">
              <mat-option *ngFor="let pratique of pratiques" [value]="pratique.id">{{pratique.libelle}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          -->
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="ajouterRencontre()"> Ajouter cette rencontre</button>
    </mat-card-actions>
  </mat-card>
</div>
