.side-nav {
  top:63px;
}

.mat-sidenav-container{
  height: 100%;
  position: inherit !important;
}
.mat-toolbar{
  position: sticky;
  top: 0;

}


mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-color: rgba(0,0,0,0.1);
}
