<app-header [username]="setUsername()" (toggleMenu)="toggleMenu()" [hidden]="getUsername()"></app-header>
<mat-sidenav-container (backdropClick)="sidenavClose=true;">
  <mat-sidenav #sidenav [mode]="sidenavMode" opened class="side-nav">
    <app-menu [hidden]="getUsername()" ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-progress-spinner color="accent" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>
